<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員註冊 - Beauty Buddy</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</head>
<body>
    <div class="header">
        <div style="display: flex; align-items: center;">
            <img src="https://imgur.com/Akgc4pd.jpeg" alt="Beauty Buddy Logo" id="logo">
            <h1>Beauty Buddy</h1>
        </div>
        <div class="nav">
            <ul>
                <li><a href="http://beautybuddy.ddns.net/">首頁</a></li>
                <li><a href="http://beautybuddy.ddns.net/filter">篩選產品</a></li>   
                <li><a href="http://beautybuddy.ddns.net/login">登入/註冊</a></li>
            </ul>
            <form action="/products" method="GET" style="display: inline;">
                <input type="text" name="keyword" id="searchInput" placeholder="搜索..." required>
                <button type="submit">搜索</button>
            </form>
        </div>
    </div>

   

    <div class="container">
        <h2>會員註冊</h2>
        <form action="{{ url_for('register') }}" method="POST" id="registerForm">
            <label for="name">暱稱</label>
            <input type="text" id="name" name="name" required>

            <label for="email">電子郵件</label>
            <input type="email" id="email" name="email" required>

            <label for="password">密碼</label>
            <input type="password" id="password" name="password" required>

            <label for="confirmPassword">確認密碼</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>

            <button type="submit">註冊</button>
        </form>
        <p class="switch-link">已經有帳號了？ <a href="http://beautybuddy.ddns.net/login">立即登入</a></p>
    
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flashes">
                  {% for category, message in messages %}
                      <div class="alert alert-{{ category }}">{{ message }}</div>
                  {% endfor %}
              </div>
             {% endif %}
        {% endwith %}
    
    
    </div>
</body>
</html>
