<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeautyBuddy</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/match.css') }}">
    <style>
        .watermark {
            font-size: 14px;
            color: rgba(255, 79, 109, 0.7); /* 淡粉色 */
            margin-top: 10px; /* 增加上邊距 */
            text-align: center; /* 文字置中 */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="https://i.imgur.com/fiXT7zV.jpeg" alt="Logo">
            <a href="http://beautybuddy.ddns.net/">
                <h1>Beauty Buddy</h1>
            </a>
        </div>
        <div class="title">
            <div class="product-match">
                <!-- 產品內容 -->
                <h2>篩選結果</h2>
                <div class="watermark">
                    匹配資訊僅供參考，仍須注意過敏原問題。
                </div>
            </div>
        </div>

        <div class="product-list">
            <div class="result-message">
                {% if username %}
                    <p>最新檢測結果:</p>
                    <h2>{{ user_result }}</h2>
                {% else %}
                    <h2>你還沒登入哦～沒帳號趕快註冊！來測試膚質查看您與產品的匹配度</h2>
                {% endif %}
            </div>
            
            <br></br>
            {% if products %}
    <div class="products">
        {% for product in products %}
        <div class="product">
            <a href="{{ url_for('product_detail', product_name=product[1]) }}">
                <img src="{{ product[5] }}" alt="{{ product[1] }}" class="product-image">
                <p> {{ product[0] }}</p>
                <h3> {{ product[1] }}</h3>
                <p> {{ product[2] }} / NT {{ product[3] }}</p>
                <p> {{ product[4] }}</p>
                <p>膚質評分: {{ product[6] if product[6] != '未獲取' else '未獲取' }}</p> <!-- 顯示膚質評分 -->
                <button>查看詳情</button>
            </a>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p>目前沒有產品可供顯示。</p>
{% endif %}

        </div>
    </div>
</body>
</html>