<!--篩選-->
<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>篩選產品</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/filter.css') }}">
    <script src="{{ url_for('static', filename='js/filter.js') }}"></script>
</head>
<body>
    <div class="header">
        <div style="display: flex; align-items: center;">
            <img src="https://imgur.com/Akgc4pd.jpeg" alt="Beauty Buddy Logo" id="logo">
            <h1>Beauty Buddy</h1>
        </div>
        <div class="nav">
            <ul>
                <li><a href="http://beautybuddy.ddns.net/">首頁</a></li>
                <li><a href="http://beautybuddy.ddns.net/filter">篩選產品</a></li>   

                {% if username %}
                    <div class="user-menu">
                        <a href="#" class="user-link">哈囉 {{ username }}&#128512</a>
                        <div class="dropdown-content">
                            <a href="/profile">個人檔案</a>
                            <a href="/logout">登出</a>
                        </div>
                    </div>
                {% else %}
                    <li><a href="http://beautybuddy.ddns.net/login">登入/註冊</a></li>
                {% endif %}

            </ul>
            <form action="/products" method="GET" style="display: inline;">
                <input type="text" name="keyword" id="searchInput" placeholder="搜索..." required>
                <button type="submit">搜索</button> <!-- 將按鈕設置為提交表單 -->
            </form>
        </div>
    </div>

    <br></br>

    <br></br>

    <main>
        <div class="content">
            <h1>篩選條件</h1>
            <form action="{{ url_for('match') }}" method="GET">
                <div class="dropdown">
                    <label for="price">價格範圍:</label>
                    <select id="price" name="price">
                        <option value="全部範圍">全部範圍</option>
                        <option value="1~250元">1~250元</option>
                        <option value="251~400元">251~400元</option>
                        <option value="401元以上">401元以上</option>
                    </select>
                </div>
                <div class="dropdown">
                    <label for="brand">品牌偏好:</label>
                    <select id="brand" name="brand">
                        <option value="全部品牌">全部品牌</option>
                        <option value="Heme">Heme</option>
                        <option value="1028">1028</option>
                    </select>
                </div>
                <div class="dropdown">
                    <label for="category">產品類別:</label>
                    <select id="category" name="category">
                        <option value="全部類別">全部類別</option>
                        <option value="防曬">防曬</option>
                        <option value="粉底液">粉底液</option>
                        <option value="粉餅">粉餅</option>
                    </select>
                </div>
                
                {% if not username %}  <!-- 檢查用戶是否未登入 -->
                    <p>你還沒登入哦～沒有帳號趕快註冊！來測試膚質查看您與產品的匹配度吧</p>
                {% endif %}
                
                <button type="submit">下一步</button>
            </form>
        </div>
        
        
    </main>

    <div class="overlay" id="overlay">
        <div class="popup">
            <h1>肌膚檢測</h1>
            <form>
                <div>
                    <label for="userName" style="text-align: left;">代號：</label><br>
                    <input type="text" id="userName" placeholder="輸入您的代號"><br>
                </div>
                <div>
                    <label for="sensitivity">敏感度：</label>
                    <div class="button-group">
                        <button type="button" value="1" onclick="selectOption(this)">非常敏感</button>
                        <button type="button" value="2" onclick="selectOption(this)">較敏感</button>
                        <button type="button" value="3" onclick="selectOption(this)">正常</button>
                        <button type="button" value="4" onclick="selectOption(this)">較少敏感</button>
                        <button type="button" value="5" onclick="selectOption(this)">很少敏感</button>
                    </div>
                </div>
                <div>
                    <label for="hydration">皮膚水分感覺：</label>
                    <div class="button-group">
                        <button type="button" value="1" onclick="selectOption(this)">非常乾燥</button>
                        <button type="button" value="2" onclick="selectOption(this)">較乾燥</button>
                        <button type="button" value="3" onclick="selectOption(this)">正常</button>
                        <button type="button" value="4" onclick="selectOption(this)">較潤澤</button>
                        <button type="button" value="5" onclick="selectOption(this)">非常潤澤</button>
                    </div>
                </div>
                <div>
                    <label for="oiliness">皮膚油質感覺：</label>
                    <div class="button-group">
                        <button type="button" value="1" onclick="selectOption(this)">非常油膩</button>
                        <button type="button" value="2" onclick="selectOption(this)">較油膩</button>
                        <button type="button" value="3" onclick="selectOption(this)">正常</button>
                        <button type="button" value="4" onclick="selectOption(this)">較清爽</button>
                        <button type="button" value="5" onclick="selectOption(this)">非常清爽</button>
                    </div>
                </div>
                <button type="button" onclick="calculateSkinType()">提交</button>
            </form>
            <div id="result"></div>
            <button class="close-btn" onclick="hidePopup()">關閉</button>
        </div>
    </div>

</body>
</html>
